:root {
    --rollinsBlue: rgb(0, 114, 188);
    --rollinsYellow: rgb(255, 212, 0);
}

/*General Spacing --------------------------------------------------*/
*{
    margin: 0;
    font-family: Metropolis, sans-serif
}

p {
    font-size: 16pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    font-size: 14pt;
}

.container-fluid{
    border: 0;
    padding: 0;
}

.row {
    margin: auto;
}

.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

a, .pageHeader > div > h1{
    color: white;
}

.anchorBlack {
    color: black;
}

/* Header ---------------------------------------------------------*/
.pageHeader {
    width: 80%;
    margin: auto;
    border: 0;
    padding: 0;

    position: absolute;
    top: 10px;
    z-index: 5;
    margin-left: 10%;
    margin-right: 10%;
}

.pageHeader > .row {
    margin: 0;
    padding: auto;
    width: 100%;
}

.pageHeader > header > div {
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 14pt;

}


a, .pageHeader > div > h1{
    color: white;
    
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(0,0,0,0.0)), url(../ImageFiles/headerImage.png);

    height: 375px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0;

    z-index: 1;
}

.hero-text {
    color: white;

    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.hero-text > h1 {
    font-size: 40pt;
}

#topLogo {
    height: 100px;
}

/* Main Content ---------------------------------------*/
.row {
    width: 75%;
    margin-top: 30px;
}

.sources {
    border-top: solid 3px var(--rollinsBlue);
    padding-bottom: 30px;
    padding-top: 30px;
}

#introduction {
    font-size: 13pt;
    width: 50%;
}

#quickRef > p {
    text-align: center;
    letter-spacing: 5px;

    margin-left: auto;
    margin-right: auto;
}

#quickRef > p > a {
    color: var(--rollinsBlue);
}

h2 {
    color: var(--rollinsBlue);
    font-weight: bold;
    font-size: 30pt;
}

.hidden {
    display: none;
}

.cite:hover + .hidden {
    display: block;
    color: var(--rollinsBlue);
    font-size: 12pt;
}




/* Footer ----------------------------------------------------*/
#footer {
    background-color: var(--rollinsBlue);
    color: white;
    margin: 0;
    width: 100%;
    padding: 20px;
}


#footer > div > div {
    margin: 0;
}
