:root {
    --rollinsBlue: rgb(0, 114, 188);
}

/*.container-fluid {
    margin: 0;
    padding: 0;
}

#topLogo {
    height: 100px;
}

#summary{
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}*/

/*General Spacing --------------------------------------------------*/
*{
    margin: 0;
    font-family: Metropolis, sans-serif
}

.anchorBlack {
    color: black;
}

.container-fluid{
    border: 0;
    padding: 0;
}

.row {
    margin: auto;
}

.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

a, .pageHeader > div > h1{
    color: white;
}

/* Header ---------------------------------------------------------*/
.pageHeader {
    width: 80%;
    margin: auto;
    border: 0;
    padding: 0;

    position: absolute;
    top: 10px;
    z-index: 5;
    margin-left: 10%;
    margin-right: 10%;
}

.pageHeader > .row {
    margin: 0;
    padding: auto;
    width: 100%;
}

.pageHeader > header > div {
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 14pt;

}


a, .pageHeader > div > h1{
    color: white;
    
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(0,0,0,0.0)), url(../ImageFiles/headerImage.png);

    height: 375px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0;

    z-index: 1;
}

.hero-text {
    color: white;

    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.hero-text > h1 {
    font-size: 40pt;
}

#topLogo {
    height: 100px;
}

/* Main Content -----------------------------------*/
#summary {
    width: 40%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#creatorInfo {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 50px;
}

#creatorInfo > div > img {
    width: 250px;
}

p, ul {
    font-size: 16pt;
}

#footer {
    padding: 20px;
}